<div class="gallery_widget widget clearfix">
	<% widget.images.asc(:position).each do |image| %>
		<div class="gallery_item">
			<%= link_to (image_tag image.file.gallery_thumb.url), image.file.url, :rel => "lightbox-gallery", :title => image.name %>
			</div>
	<% end %>
	<div class="spacer"></div>
</div>