<div class="page_header">
	<h1>Galleries</h1>
</div>

<section class="page_content">
	<% @galleries.each do |gallery| %>
		<div class="index_item">
			<%= link_to gallery.name.titleize, gallery_images_path(:gallery_id => gallery.name) %>
		</div>
	<% end %>
</section>