<div class="page_header">
	<h1>Galleries</h1>
</div>

<section class="page_content">
	<% Gallery::GALLERIES.each do |gallery| %>
		<div class="index_item">
			<%= link_to gallery[:name].titleize, images_path(:gallery => gallery[:name]) %>
		</div>
	<% end %>
</section>